Flask==3.0.3
numpy==1.26.4
tensorflow==2.15.0
tensorflow-estimator==2.15.0
h5py==3.10.0
keras==2.15.0
tensorboard==2.15.1
protobuf==4.23.4     # ✅ Fixed version
absl-py==2.1.0
gast==0.5.4
google-auth==2.29.0
google-auth-oauthlib==1.2.0
google-pasta==0.2.0
requests==2.32.2
requests-oauthlib==2.0.0
opt-einsum==3.3.0
typing_extensions==4.12.0
six==1.16.0
Werkzeug==3.0.1
